# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
x64/
x86/
/build/
bld/
Dating-WebAPI/bin/Debug/*
Dating-WebAPI/obj/Debug/*
msbuild.log
msbuild.err
msbuild.wrn