<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3">
        <label style="margin-right: 10px;">I am a: </label>
        <label class="form-check-label">
            <input class="form-check-input" type="radio" value='male' formControlName='gender'> Male
        </label>
        <label class="form-check-label">
            <input type="radio" value='female' formControlName='gender' class="form-check-input ms-3"> Female
        </label>
    </div>
    <app-text-input 
        [formControl]="$any(registerForm.controls['username'])" 
        [label]="'username'">
    </app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls["knownAs"])' 
        [label]='"Known As"'></app-text-input>
    <app-date-picker-input [formControl]='$any(registerForm.controls["dateOfBirth"])' 
        [label]="'Date Of Birth'" [maxDate]="maxDate"></app-date-picker-input>
    <app-text-input [formControl]='$any(registerForm.controls["city"])' 
        [label]='"City"'></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls["country"])' 
        [label]='"Country"'></app-text-input>
    <app-text-input 
        [formControl]="$any(registerForm.controls['password'])" 
        [label]="'password'"
        [type]="'password'">
    </app-text-input>
    <app-text-input 
        [formControl]="$any(registerForm.controls['confirmPassword'])" 
        [label]="'Confirm your Password'">
    </app-text-input>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button (click)="cancel()" class="btn btn-default" type="button">Cancel</button>
    </div>
</form>


<p>Form value: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p>