<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-primary">
      <div class="container">
        <a class="navbar-brand" routerLink="/" routerLink="active">Dating App</a>
        
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="accountService.currentUser$ | async">
              <li class="nav-item">
                <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
              </li>
            </ng-container>
            <li class="nav-item">
              <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
            </li>
          </ul>
          
          <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome, {{user.username | titlecase}}</a>
            <ul class="dropdown-menu" *dropdownMenu>
                <li><a class="dropdown-item" routerLink="/member/edit">Edit Profile</a></li>
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>

          </div>

          <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex mt-2 mt-md-0" id="navbarColor01" (ngSubmit)="login()" autocomplete="off">
            <input 
                name="username"
                [(ngModel)]="model.username"
                class="form-control me-2" 
                type="text" 
                placeholder="Username">
            <input 
                name="password"
                [(ngModel)]="model.password"
                class="text-dark form-control me-2" 
                type="password" 
                placeholder="Password">
            <button class="btn btn-success" type="submit">Login</button>
          </form>
        
      </div>
    </nav>
  </header>
